﻿.spacer {
	margin-top: 20px;
}

li {
	text-decoration: none;
}
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: #428BCA;
  color: #ffffff;
}

.clickable {
	cursor: pointer;
}

thead tr th a {
	text-decoration: none;
}

.match{
	background-color: lightgreen;
}

.labelspan {
	width: 20px;
}

span.input-group-addon {
	width: 20px !important;
}
.input-group{
	width: 100%;
}

input.ng-invalidd{

	border:  1px solid #d9534f;
}