<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf8" />
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Webmail</title>
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/style.css"/>
        <!--[if lt IE 9]>
            <script src="html5shiv.js"></script>
        <![endif]-->

    </head>  
    <body ng-app="Webmail" ng-controller="WebmailCtrl">

        <div class="container">
        
            <div class="row spacer">
                <div class="col-sm-12">
                    <ul class="nav nav-pills pull-left">
                        <li ng-repeat="dossier in dossiers"
                    ng-class="{ active: currentView == 'currentFolderView' && dossier == dossierCourant }"><a href="#/{{dossier.value}}">{{dossier.label}}</a></li>
                    </ul>  
                    <ul class="nav nav-pills pull-right">
                        <li ng-class="{active : currentView == 'newMailView'}"><a href="#/nouveauMail"><span class="glyphicon glyphicon-pencil"></span></a></li>
                    </ul>  
                </div>
            </div>
            <div class="spacer input-group">
                <div class="input-group-addon">
                    <span class="glyphicon glyphicon-search"></span>
                </div>
                <input type="text" ng-model="recherche" class="form-control" placeholder="search an email ..." />
            </div>
            <div ng-show="currentView == 'currentFolderView' ">
                <table class="table table-striped table-hover spacer">
                <thead>
                    <tr>
                        <th>
                            <a href="#" ng-click="triMails('from')">De</a>
                            <span ng-class="changeChevron('from')"></span>
                        </th>
                        <th>
                            <a href="#" ng-click="triMails('to')">&Agrave;</a>
                            <span ng-class="changeChevron('to')"></span>
                        </th>
                        <th>
                            <a href="#" ng-click="triMails('subject')">Objet</a>
                            <span ng-class="changeChevron('subject')"></span>
                        </th>
                        <th>
                            <a href="#" ng-click="triMails('date')">Date</a>
                            <span ng-class="changeChevron('date')"></span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="email in dossierCourant.emails | filter: recherche | orderBy: champTri : sensTri" class="clickable" ng-click="versEmail(dossierCourant, email)">
                        <td ng-bind-html="email.from  | seekWord : recherche"></td>
                        <td ng-bind-html="email.to  | seekWord : recherche"></td>
                        <td ng-bind-html="email.subject  | seekWord : recherche"></td>
                        <td ng-bind-html="email.date  | seekWord : recherche"></td>
                    </tr>
                </tbody>
            </table>
         <div class="alert alert-info">Le dossier contient {{dossierCourant.emails.length}} mails</div>

        </div>
        <div class="alert alert-info spacer" ng-show="currentView =='errorView'">La page cherché n'existe pas</div>
 
        <new-mail ng-show = "currentView == 'newMailView'" send-mail="sendMail(nouveauMail)"></new-mail>
        <mail-content ng-show="currentView == 'mailContentView'" email="emailCourant"></mail-content>

        </div>

        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.29/angular.min.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.29/angular-sanitize.min.js"></script>
        <script type="text/javascript" src="lib/tinymce/tinymce.min.js"></script>
        <script type="text/javascript" src="lib/ui-tinymce.js"></script>
        <script type="text/javascript" src="js/app.js"></script>
        <script type="text/javascript" src="js/directives.js"></script>
        <script type="text/javascript" src="js/filtres.js"></script> 
        <script type="text/javascript" src="js/mailService.js"></script>
        <script type="text/javascript" src="js/mailServiceHttp.js"></script       

    </body>
</html>